<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpCC5600A0E0013FC2479752FF2E317D0E" Guid="{146A2889-8A2A-4CB7-BE38-11014B12C204}">
                <File Id="filA37EA31C1F18E8079A0153A07EC2C1F2" KeyPath="yes" Source="$(var.BasePath)\CommandLine.dll" />
            </Component>
            <Component Id="cmp269D78649FD9F330C5C591512326A7FF" Guid="{7B52A7C8-6C88-4A28-A746-DDF451985F1F}">
                <File Id="filE112EAA7BB8AB4BA3E56159E0DDCC58E" KeyPath="yes" Source="$(var.BasePath)\CommunityToolkit.Mvvm.dll" />
            </Component>
            <Component Id="cmp0838844DAC02600FC66B3F866EDD1BDD" Guid="{8F94D306-DCC2-4E79-A8D3-797EA2AECCEF}">
                <File Id="fil06969FCCF1A521D31AE839217DA96953" KeyPath="yes" Source="$(var.BasePath)\KioskBrowser.deps.json" />
            </Component>
            <Component Id="cmp038074AE1393E3D3C8FE89A3C8382A85" Guid="{4C6A9192-EC63-4D85-9102-AAFB5CD7A6E9}">
                <File Id="filC11711D4733C9FB42711A1A44F78259D" KeyPath="yes" Source="$(var.BasePath)\KioskBrowser.dll" />
            </Component>
            <Component Id="cmpE3F0EA76B0CB22A7CEAADFB0E182A54D" Guid="{62B2FC86-4422-4A07-B110-8017DBF694B1}">
                <File Id="filB8764374F8DA558C5498CB893E28786B" KeyPath="yes" Source="$(var.BasePath)\KioskBrowser.exe" />
            </Component>
            <Component Id="cmp8E9B70EC59D0B402CAE55473E289439E" Guid="{48EFE81D-AE14-403A-9E22-6F7203C742A3}">
                <File Id="fil3461E5A64230217871015E5C52B54CE4" KeyPath="yes" Source="$(var.BasePath)\KioskBrowser.pdb" />
            </Component>
            <Component Id="cmp8D7569A4AB98E91F3BE0C35E02F9FD8D" Guid="{349CE315-FEBD-45E9-85A8-655040B34C03}">
                <File Id="fil641232571F7BD4D62766492B47F3F854" KeyPath="yes" Source="$(var.BasePath)\KioskBrowser.runtimeconfig.json" />
            </Component>
            <Component Id="cmp57D856C08E480EBC080FF86FAEB1DDA3" Guid="{91A7BD56-6C20-4869-B72D-A64B0CD684E5}">
                <File Id="fil75A9AC5DE23858DE4AD4EE64AEAE4B4A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Web.WebView2.Core.dll" />
            </Component>
            <Component Id="cmp39AA4117FE66423F7F7B55B38D21DDEB" Guid="{49FD506D-F34D-4AF2-8B77-6E67A7F7A56F}">
                <File Id="fil1FD222D755CE0EA2DA473BD88AB86236" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Web.WebView2.WinForms.dll" />
            </Component>
            <Component Id="cmp52904F0CB40D279B8F2C7E92B0EFE70C" Guid="{CA9E15CC-B046-44F8-9986-77AAA4EBBDD6}">
                <File Id="fil5CCB07B1FCCECF7CA118B8F160F410A7" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Web.WebView2.Wpf.dll" />
            </Component>
            <Component Id="cmp6DD7EE08AAF19696AEF549DF5D491583" Guid="{425074CF-57C6-4413-A7E9-9C884B54FC14}">
                <File Id="fil9AC554CD2D7E3117637BF18289C2F79A" KeyPath="yes" Source="$(var.BasePath)\WebView2Loader.dll" />
            </Component>
            <Component Id="cmpDEDBEBC3C696D503E861AE0B51CDDAD7" Guid="{5A9FE719-F70D-4F31-B993-9D8037E02F6A}">
                <File Id="fil2A24EC87F95D1079B0F9027A34B45F92" KeyPath="yes" Source="$(var.BasePath)\Wpf.Ui.dll" />
            </Component>
            <Directory Id="dir58E8247E2885C01898CAD009F9EFD8BA" Name="runtimes">
                <Directory Id="dirB9C75524282911E40C3C964A8836A714" Name="win-x64">
                    <Directory Id="dir1F9DF9DD2FB29AE2942604FAC206D5C4" Name="native">
                        <Component Id="cmpB9D685AE58FEB3A95799FCF678486AA2" Guid="{42B153D2-F768-4F0C-BF98-A25170216BE4}">
                            <File Id="filDDB8C2AF8533464741631FC635DF1F70" KeyPath="yes" Source="$(var.BasePath)\runtimes\win-x64\native\WebView2Loader.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpCC5600A0E0013FC2479752FF2E317D0E" />
            <ComponentRef Id="cmp269D78649FD9F330C5C591512326A7FF" />
            <ComponentRef Id="cmp0838844DAC02600FC66B3F866EDD1BDD" />
            <ComponentRef Id="cmp038074AE1393E3D3C8FE89A3C8382A85" />
            <ComponentRef Id="cmpE3F0EA76B0CB22A7CEAADFB0E182A54D" />
            <ComponentRef Id="cmp8E9B70EC59D0B402CAE55473E289439E" />
            <ComponentRef Id="cmp8D7569A4AB98E91F3BE0C35E02F9FD8D" />
            <ComponentRef Id="cmp57D856C08E480EBC080FF86FAEB1DDA3" />
            <ComponentRef Id="cmp39AA4117FE66423F7F7B55B38D21DDEB" />
            <ComponentRef Id="cmp52904F0CB40D279B8F2C7E92B0EFE70C" />
            <ComponentRef Id="cmp6DD7EE08AAF19696AEF549DF5D491583" />
            <ComponentRef Id="cmpDEDBEBC3C696D503E861AE0B51CDDAD7" />
            <ComponentRef Id="cmpB9D685AE58FEB3A95799FCF678486AA2" />
        </ComponentGroup>
    </Fragment>
</Wix>