<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--NB! When changing version the ProductCode must also change--> 
  <!-- Build version is retrieved from the main entry assembly -> Its done in the .wixproj file -->

  <!-- Give product a unique ID per platform -->
	<?if $(var.Platform)=x64 ?>
	  <?define ProductCode = "{FC049934-D986-4539-B2EA-4AACAB33DE87}" ?>
	<?else?>
    <?define ProductCode = "{D05B0A45-412A-4785-A10C-5D87B3183687}" ?>
	<?endif?>

  <!-- Fixed upgrade Id (Do not change!) -->
  <?define UpgradeCode = "{0B49552E-87A6-4594-B555-D209113C89D3}" ?>
  
  <!-- Define main product -->
  <Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))"
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)"
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)">
		
    <!-- Provide package details -->
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perUser"
             InstallPrivileges="limited"
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)" 
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"
             />

        <!-- Downgrade error message -->
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
            
        <!-- Include .cab file into .msi file -->
        <MediaTemplate EmbedCab="yes" />
    
        <!-- Define main app icon -->
        <Icon Id="icon.ico" SourceFile="$(var.KioskBrowser.ProjectDir)\Images\app.ico"/>
    
        <!-- Use the icon.ico icon for this installer (shows up in Add/Remove programs) -->
        <Property Id="ARPPRODUCTICON">icon.ico</Property>
        <!-- Help/Support website (shows in the Add/Remove programs) -->
        <Property Id="ARPURLINFOABOUT">http://www.brudvik.com</Property>
    
        <!-- Create a basic UI for the installer -->
        <UIRef Id="WixUI_Minimal" />
    
        <!-- Change the installer UI background images -->
        <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>
        <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>
    
        <!-- Reference the license file -->
        <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>
    
        <!-- Define components, shortcuts, files etc... for installer -->
        <Feature Id="ProductFeature" Title="KioskBrowser" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="PublishedComponents" />
       </Feature>
    </Product>  

</Wix>
